.primary-list{
    margin-right: 70px;
  }
.primary-clients-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.primary-clients-item{
    width: calc((100% - 150px)/6);
    min-height: 92px;
   
}
.primary-clients-item-link{
    border: 1px solid #AFB1B8;
    border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 92px;
   color: var(--fons-icon-color);
   fill: var(--fons-icon-color);
}
.clients-link{
    display: block;
    transition: color var(--transition-color);
}
.primary-clients-item-link:hover, .primary-clients-item-link:focus{
    border: 1px solid var(--brand-color);
    fill: var(--brand-color);
   
}