.contact-form__btn{
    max-width: 200px;
    display: block;
    position: relative;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color:var(--white-color);
    background: var(--brand-color);
    padding: 10px 62px 10px 29px;
    cursor: pointer; 
    transition: background-color var(--transition-color);
    
    &:hover, &:focus{
        background:#085fa7;
    }
}
.contact-form__btn-icon{ 
    position: absolute;
    top: 50%;
    right: 12%;
    transform: translateY(-50%);
} 



